<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-bi-validator.ZPM">
    <Module>
      <Name>iris-bi-validator</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.irisbivalidator.PKG"/>
    </Module>
  </Document>
</Export>